# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos (no subir datos crudos pesados al repo)
data/raw/*.csv
data/raw/*.json
data/raw/ultimo_registro.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
